@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<body>
    <!-- Inspiro Slider -->
    <div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-fade="true">
        <!-- Slide 1 -->
        <div class="slide kenburns" data-bg-image="~/images/slider/tickethub_bg1.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="slide-captions text-center text-light">
                    <!-- Captions -->
                    <h1>Bienvenido al Dashboard de TicketHub</h1>
                    <p>Descubre la plataforma más intuitiva para la gestión de usuarios, roles y departamentos. TicketHub es tu aliado en la administración efectiva.</p>
                    <div><a href="#admin-tools" class="btn scroll-to">Explorar Herramientas</a></div>
                    <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 1 -->
        <!-- Slide 2 -->
        <div class="slide" data-bg-video="video/Video.mov">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="slide-captions text-left text-light">
                    <!-- Captions -->
                    <h1>Gestión a tu alcance</h1>
                    <p class="text-small">Administra con facilidad cada aspecto de tu plataforma. Con TicketHub, tienes el control total de la experiencia de servicio al cliente.</p>
                    <div><a href="#admin-tools" class="btn scroll-to">Ver Más</a></div>
                    <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 2 -->
    </div>
    <!--end: Inspiro Slider -->
    <!-- WELCOME -->
    <section id="admin-tools" class="p-b-0">
        <div class="container">
            <div class="heading-text heading-section text-center m-b-40" data-animate="fadeInUp">
                <h2>Panel de Administración TicketHub</h2>
                <span class="lead">El corazón de TicketHub donde el poder de la organización se hace simple y eficaz.</span>
            </div>
            <div class="row" data-animate="fadeInUp">
                <div class="col-lg-12">
                    <img class="img-fluid" src="~/images/other/responsive-1.jpg" alt="Panel de Administración">
                </div>
            </div>
        </div>
    </section>
    <!-- end: WELCOME -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>

    <!--Plugins-->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/plugins.js"></script>

    <!--Template functions-->
    <script src="~/js/functions.js"></script>


</body>