
@model FrontEnd.Models.LoginViewModel

@{
    ViewData["Title"] = "Iniciar sesión";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">



<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="~/images/TicketHubLogo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>TicketHub Login</title>
    <!-- Stylesheets & Fonts -->
    <link href="~/css/plugins.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Section -->
        <section class="fullscreen" data-bg-parallax="/images/pages/BackGround.png">
            <div class="container">
                <div>
                    <div class="text-center m-b-30">
                        <img src="~/images/TicketHubLogo.png" alt="TicketHubLogo">
                    </div>
                    <div class="row">
                        <div class="col-lg-6 center p-50 background-white b-r-6">
                            <h3>Iniciar sesión en tu cuenta</h3>
                            <form asp-controller="Account" asp-action="Login" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                            </form>
                            <p class="small">
                                ¿No tienes una cuenta todavía? <a asp-controller="Account" asp-action="Register">Registra una nueva cuenta</a>
                            </p>


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Section -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/plugins.js"></script>
    <!--Template functions-->
    <script src="~/js/functions.js"></script>
    <!-- jQuery Validate plugin files-->
    <script src="~/plugins/validate/validate.min.js"></script>
    <script src="~/plugins/validate/valildate-rules.js"></script>
</body>

</html>