@model FrontEnd.Models.RegisterViewModel
@{
    ViewData["Title"] = "Registro";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="~/images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registrar Nueva Cuenta - Polo</title>
    <link href="~/css/plugins.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="body-inner">
        <section class="fullscreen" data-bg-parallax="/images/pages/BackGround.png">
            <div class="container container-fullscreen">
                <div class="text-middle">
                    <div class="row">
                        <div class="col-lg-10 center p-40 background-white b-r-6">
                            <h3>Registrar Nueva Cuenta</h3>
                            <p>Crea una cuenta ingresando la información a continuación.</p>

                            <!-- Begin: Form -->
                            <form asp-action="Register" asp-controller="Account" method="post" class="form-transparent-grey">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <input asp-for="Nombre" class="form-control" placeholder="Nombre" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input asp-for="Email" class="form-control" placeholder="Correo Electrónico" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input asp-for="Password" class="form-control" placeholder="Contraseña" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmar Contraseña" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn">Registrar Cuenta</button>
                                    <a class="btn btn-danger m-l-10" href="@Url.Action("Login", "Account")">Cancelar</a>
                                </div>
                            </form>
                            <!-- End: Form -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/functions.js"></script>
    <script src="~/plugins/validate/validate.min.js"></script>
    <script src="~/plugins/validate/valildate-rules.js"></script>
</body>
</html>
