

<body>

    <!-- Inspiro Slider -->
    <div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-fade="true">
        <!-- Slide 1 -->
        <div class="slide kenburns" data-bg-image="~/images/slider/notgeneric_bg3.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="slide-captions text-center text-light">
                    <!-- Captions -->
                    <h1>TicketHub</h1>
                    <p>Say hello to the smartest and most flexible bootstrap template. Polo is an powerful template that can build any type of websites, and quite possibly the only one you will ever need.</p>
                    <div><a href="#welcome" class="btn scroll-to">Explore more</a></div>
                    </span>
                    <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 1 -->
        <!-- Slide 2 -->
        <div class="slide" data-bg-video="video/Video.mov">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="slide-captions text-left text-light">
                    <!-- Captions -->
                    <h1>220+ Laytout Demos</h1>
                    <p class="text-small">POLO is packed with 220+ pre-made layouts that allow you to quickly jumpstart your project. Completely customizable for creating your own designs.</p>
                    <div><a href="#welcome" class="btn scroll-to">Explore more</a></div>
                    <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 2 -->
    </div>
    <!--end: Inspiro Slider -->
    <!-- WELCOME -->
    <section id="welcome" class="p-b-0">
        <div class="container">
            <div class="heading-text heading-section text-center m-b-40" data-animate="fadeInUp">
                <h2>Bienvenido a TicketHub</h2>
                <span class="lead">Crea y administra los tickets!.</span>
            </div>
            <div class="row" data-animate="fadeInUp">
                <div class="col-lg-12">
                    <img class="img-fluid" src="~/images/other/responsive-1.jpg" alt=">Bienvenido a TicketHub">
                </div>
            </div>
        </div>
    </section>
    <!-- end: WELCOME -->
</body>